/*****************
 * Notebooks and *
 * tabs          *
 *****************/

.notebook {
    padding: 0px;
    border-color: @notebook_border;
    border-style: solid; 
	border-radius: 3px;
    border-width: 1px;
    -unico-border-gradient: -gtk-gradient (linear,
                                             left top, left bottom,
                                             from (shade(@button_border, 0.90)),
                                             to (shade(@button_border, 1.15)));

    background-color: shade(@theme_bg_color, 1.03);
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_bg_color, 0.95)),
                                     color-stop (0.015, shade(@theme_bg_color, 1.03)),
                                     to (shade(@theme_bg_color, 1.03)));

    -GtkNotebook-tab-overlap: 	5;
    -GtkNotebook-tab-curvature: 4;

    -unico-focus-border-color: alpha (@selected_bg_color, 0.0);
    -unico-focus-border-radius: 3;
    -unico-focus-fill-color: alpha (@selected_bg_color, 0.0);
    -unico-focus-outer-stroke-color: @transparent;
}

.notebook GtkDrawingArea {
	/* ubuntu 12 */
	background-color: shade (@theme_bg_color, 1.03);
}

.notebook tab .button {
    padding: 1px 0px;
}

.notebook tab {
    border-width: 1px;
    border-style: solid; 
	border-radius: 0px;

    -unico-border-gradient: -gtk-gradient (linear,
							left top, left bottom,
							from (shade (@button_border, 0.95)),
							to (shade (@button_border, 0.90)));

    background-image: -gtk-gradient (linear,
				      left top, left bottom,
					  from (shade(@button_raised_gradient_color_a, 0.95)),
					  to (shade(@button_raised_gradient_color_b, 1.05)));
}

.notebook tab:first-child {
    border-radius: 3px 0px 0px 0px;
}

.notebook tab:last-child {
    border-radius: 0px 3px 0px 0px;
}

.notebook tab:only-child {
    border-radius: 3px 3px 0px 0px;
}

.notebook tab.top {
    padding: 3px 6px 1px 6px;
}

.notebook tab.bottom {
    padding: 3px 6px 1px 6px;
}

.notebook tab.right {
    padding: 3px 4px 3px 0px;
}

.notebook tab.left {
    padding: 3px 0px 3px 4px;
}

.notebook tab:active {
 
	border-width: 1px;

	-unico-border-gradient: -gtk-gradient (linear,
                                             left top, left bottom,
                                             from (shade(@button_border, 0.70)),
                                             to (shade(@button_border, 0.85)));

     background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@button_raised_gradient_color_b, 0.80)),
									 color-stop (0.20, shade(@button_raised_gradient_color_b, 0.90)),
									 color-stop (0.97, shade(@button_raised_gradient_color_a, 0.90)),
									 color-stop (0.97, shade(@button_border, 0.90)),
                                     to (shade(@button_border, 0.90)));

	-unico-inner-stroke-width: 0px 1px;
    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    				left top, center top,
                    				from (alpha (#000, 0.08)),
                    				to (alpha (#000, 0.04)));
}

.notebook tab *:active,
.notebook tab GtkLabel:active {
	color: shade(@theme_text_color, 0.80); 
	text-shadow: 1 1 alpha(#fff, 0.20);
}

.notebook tab GtkLabel {
	/* ubuntu 12 */
	color: shade(@theme_text_color, 0.80); 
	text-shadow: 1 1 alpha(#fff, 0.20);
}

.notebook tab *:insensitive {
	text-shadow: none;
}

.notebook .button:active,
.notebook .button:active:hover {
	
}


