/*****************
 * Notebooks and *
 * tabs          *
 *****************/
.notebook {
    padding: 0px;

    border-color: shade(@notebook_border, 1.00);
	border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    -unico-border-gradient: -gtk-gradient (linear,
                                             left top, left bottom,
                                             from (shade(@notebook_border, 0.90)),
                                             to (shade(@notebook_border, 1.18)));

    background-color: shade(@theme_bg_color, 1.03);
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_bg_color, 0.95)),
                                     color-stop (0.015, shade(@theme_bg_color, 1.03)),
                                     to (shade(@theme_bg_color, 1.03)));

    -GtkNotebook-tab-overlap: 	5;
    -GtkNotebook-tab-curvature: 4;

    -unico-focus-border-color: alpha (@selected_bg_color, 0.0);
    -unico-focus-border-radius: 3;
    -unico-focus-fill-color: alpha (@selected_bg_color, 0.0);
    -unico-focus-outer-stroke-color: @transparent;
}

.notebook GtkDrawingArea {
	/* ubuntu 12 */
	background-color: shade (@theme_bg_color, 1.03);
}

.notebook tab {
    padding: 1px 4px 0px;
	border-radius: 0px;

	border-width: 1px;

	-unico-border-gradient: -gtk-gradient (linear,
                                             left top, left bottom,
                                             from (shade(@notebook_border, 0.75)),
                                             to (shade(@notebook_border, 0.90)));

    /* background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@theme_bg_color, 0.88)),
									 color-stop (0.04, shade(@theme_bg_color, 0.80)),
									 color-stop (0.15, shade(@theme_bg_color, 0.88)),
									 color-stop (0.80, shade(@theme_bg_color, 0.88)),
                                     to (shade(@theme_bg_color, 0.93))); */

     background-image: -gtk-gradient (linear,
                                      left top, left bottom,
                                      from (shade (@button_raised_gradient_color_b, 0.70)),
									  color-stop (0.20, shade(@button_raised_gradient_color_b, 0.85)),
                                      to (shade(@button_raised_gradient_color_a, 0.88)));

}

.notebook tab:first-child {
    border-radius: 3px 0px 0px 0px;
}

.notebook tab:last-child {
    border-radius: 0px 3px 0px 0px;
}

.notebook tab:only-child {
    border-radius: 0px 0px 0px 0px;
}


.notebook tab.top {
    padding: 2px 6px;
}

.notebook tab.bottom {
    padding: 2px 6px;
}

.notebook tab.right {
    padding: 3px 4px 3px 0px;
}

.notebook tab.left {
    padding: 3px 0px 3px 4px;
}


.notebook tab:active {
	/* border-width: 1px; */

	-unico-border-gradient: -gtk-gradient (linear,
                                             left top, left bottom,
                                             from (shade(@notebook_border, 0.80)),
                                             to (shade(@notebook_border, 0.85)));
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@button_raised_gradient_color_a, 1.00)),
									 color-stop (0.97, shade(@button_raised_gradient_color_b, 1.00)),
									 color-stop (0.97, shade(@notebook_border, 0.90)),
                                     to (shade(@notebook_border, 0.90)));
}

.notebook tab *:active,
.notebook tab GtkLabel:active {
	/* ubuntu 12 */
	color: @theme_text_color;
}

.notebook tab GtkLabel {
	/* ubuntu 12 */
	color: @theme_text_color;
	text-shadow: 1 1 alpha(#fff, 0.15); 
}

.notebook tab *:insensitive {
	text-shadow: none;
}

.notebook .button:active,
.notebook .button:active:hover {
	
}


