/* Copyright 2009, Red Hat, Inc.
 *
 * Portions adapted from Mx's data/style/default.css
 *     Copyright 2009 Intel Corporation
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.    See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */

stage {
    font-family: cantarell, sans-serif, ubuntu;
}

.shell-link {
    color: #00f;
    text-decoration: underline;
}

.shell-link:hover {
    color: #0000e0;
}

.label-shadow {
    color: rgba(255,255,255,0.0);
}

/*
.label-real-shadow {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(0, 0, 0, 0);
    background-gradient-end: rgba(0, 0, 0, 255);
    width: 10px;
}
*/

StScrollBar
{
    padding: 0px;
}

StScrollView.vfade
{
    -st-vfade-offset: 68px;
}

StScrollView StScrollBar
{
    min-width: 10px;
    min-height: 15px;
}


StScrollBar StBin#trough {
    background-color: rgba(11,11,11,0.6);
    border-radius: 5px;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}

StScrollBar StButton#vhandle
{
    background-gradient-direction: horizontal;
}

StScrollBar StButton#hhandle
{
    background-gradient-direction: vertical;
}

StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle
{
    background-gradient-start: #dadada;
    background-gradient-end: #ccc;
    box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.5);
    border: 1px solid rgba(150,150,150,0.8);
    border-radius: 5px;
    transition-duration: 1px 0px 0px;
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover
{
    background-gradient-start: #5A92BD;
    background-gradient-end: #487192;
    border: 1px solid #487192;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.3);
}

StTooltip StLabel {
    border: 1px solid rgba(255,255,255,0.72);
    border-radius: 5px;
    padding: 2px 12px;
    background-color: rgba(48,53,54,0.85);
    color: #fff;
    font-size: 0.9em;
    font-weight: normal;
    text-align: center;
}

/* PopupMenu */

.popup-menu-boxpointer {
    border-radius: 0 0 4px 4px;
    background-color: rgba(48,54,53,0.85);
    border: 1px solid rgba(33,33,33,0.8);
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.4);
}

.popup-menu {
    color: #fff;
    font-size: 10pt;
    min-width: 200px;
}

.popup-submenu-menu-item:open {
    background-color: rgba(48,53,54,0.85);
}

.popup-sub-menu {
    background-color: rgba(48,53,54,0.85);
    border: 1px solid rgba(22,22,22,0.2);
    box-shadow: 0 0 2px 3px rgba(0,0,0,0.33);
}

.popup-sub-menu .popup-menu-item:ltr {
    padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl {
    padding-left: 0em;
}

.popup-sub-menu StScrollBar {
    padding: 4px;
}

.popup-sub-menu StScrollBar StBin#trough {
    border-width: 0px;
}

.popup-sub-menu StScrollBar StBin#vhandle {
    background-color: rgba(48,53,54,0.85);
    border-width: 0px;
}

.popup-combo-menu {
    background-color: rgba(48,54,53,0.85);
    border: 1px solid rgba(22,22,22,0.2);
    box-shadow: 0 0 2px 3px rgba(0,0,0,0.33);
    padding: 1em 0em;
    color: #fff;
    font-size: 10pt;
    border: 1px solid #333;
    border-radius: 5px;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
    padding: 1em 0em;
}

.popup-menu-item {
    padding: .4em 1.75em;
    spacing: 1em;
}

.popup-menu-item:active {
    background-gradient-direction: vertical; 
    background-gradient-start: #5A92BD;
    background-gradient-end: #487192;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.3);
}

.popup-menu-item:insensitive {
    color: #999;
}

.popup-image-menu-item {
}

.popup-combobox-item {
    spacing: 1em;
}

.popup-separator-menu-item {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #444;
    box-shadow: inset0 1px 2px rgba(0,0,0,0.2);
    height: 0.1em;
}

.popup-alternating-menu-item:alternate {
    font-weight: bold;
}

.popup-slider-menu-item {
    height: 1em;
    min-width: 15em;
    -slider-height: 0.3em;
    -slider-background-color: #444;
    -slider-border-color: #333;
    -slider-active-background-color: #5A92BD;
    -slider-active-border-color: #333;
    -slider-border-width: 0.5px;
    -slider-handle-radius: 0.5em;
}

.popup-device-menu-item {
    spacing: .5em;
}

.popup-inactive-menu-item {
    font-weight: normal;
    color: #999;
}

.popup-subtitle-menu-item {
    font-weight: bold;
}

.popup-menu-icon {
    icon-size: 1.14em;
}

/* Switches (to be used in menus) */
.toggle-switch {
    width: 4.5em;
    height: 1.5em;
}

.toggle-switch-us, .toggle-switch-intl {
    background-image: url("toggle-off.png");
}

.toggle-switch-us:checked, .toggle-switch-intl:checked {
    background-image: url("toggle-on.png");
}

.nm-menu-item-icons {
    spacing: .5em;
}

/* Shared button properties */

.dash-search-button, .notification-button, .notification-icon-button,
.hotplug-notification-item, .modal-dialog-button {
    color: #333;
    background-gradient-direction: vertical; 
    background-gradient-start: #dadada;
    background-gradient-end: #ccc;
    border: 1px solid rgba(150,150,150,0.8);
    box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.5);
    border-radius: 5px;
    font-weight: bold;
}

.hotplug-resident-eject-button {
    background-color: transparent;
    border: 1px solid transparent;
}

.dash-search-button:hover, .notification-button:hover,
.notification-icon-button:hover, .hotplug-notification-item:hover,
.modal-dialog-button:hover, .hotplug-resident-eject-button:hover,
.dash-search-button:selected, .notification-button:focus,
.notification-icon-button:focus, .hotplug-notification-item:focus,
.modal-dialog-button:focus {
    color: #fff;
    background-gradient-direction: vertical; 
    background-gradient-start: #5A92BD;
    background-gradient-end: #487192;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.3);
    border: 1px solid #436487;
}

/* Panel */

#panel {
    background-gradient-direction: vertical;
    /* background-gradient-start: rgba(52,56,57,0.85);
    background-gradient-end: rgba(37,42,43,0.85); */

    /* Modificadp panel blanco-transparente */
    background-gradient-start: rgba(255, 255, 255, 0.85);
    background-gradient-end: rgba(255, 255, 255, 0.40);
    box-shadow: 0 0 2px 3px rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,0.15);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #000;
    font-size: 10pt; 
    font-weight: bold;
    height: 1.7em;
}

#panelLeft, #panelCenter {
    spacing: 4px;
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelRight:ltr {
    padding-left: 4px;
}

#panelRight:rtl {
    padding-right: 4px;
}

.panel-corner {
}

.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
    -panel-corner-background-color: transparent;
    -panel-corner-inner-border-color: transparent;
    -panel-corner-outer-border-color: transparent;
}

#appMenu {
    spacing: 4px;
    /* color: #ffffff; */   
}


.panel-button #appMenuIcon,
.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    width: 22px;
    height: 22px;
}

.app-menu-icon {
    width: 22px;
    height: 22px;
}

.panel-button {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    color: #000;        /* Modificado para panel blanco */
    transition-duration: 1px 0px;
    /* Sombra texto normal panel */
    text-shadow: rgba(255,255,255,0.4) 0px 1px 0px; 
}

.panel-button:hover,
.panel-button:active,
.panel-button:overview,
.panel-button:focus {
    color: #fff;
    background-gradient-direction: vertical;
    background-gradient-start: #5A92BD; /* Modificado menu azul */
    background-gradient-end: #487192;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.3);
    border-radius: 0px 0px 0px 0px;     /* Modificado radio 0 */
    transition-duration: 1px 0px 0px;
    /* Sombra texto hover panel */
    text-shadow: rgba(0,0,0,0.4) 0px 1px 0px;
}

.panel-status-button:active,
.panel-status-button:checked,
.panel-status-button:focus {
    color: #fff;
    background-gradient-direction: vertical;
    background-gradient-start: #5A92BD; /* Modificado menu azul */
    background-gradient-end: #487192;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.3);
    border-radius: 0px 0px 0px 0px;     /* Modificado radio 0 */
    transition-duration: 1px 0px 0px;
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
    icon-shadow: #000 0 2px 2px;
}

.panel-menu {
    -boxpointer-gap: 1px
}

#panelUserMenu {
    spacing: 4px;
}

.status-chooser {
    spacing: .4em;
}

.status-chooser .popup-menu-item,
.status-chooser-combo .popup-menu-item {
    padding: .4em;
}

.status-chooser-user-icon {
    border: 2px solid #3c3c3c;
    border-radius: 5px;
    width: 36pt;
    height: 36pt;
}

.status-chooser-user-icon:hover {
    border: 1px solid #ccc;
}

.status-chooser-user-name {
    font-weight: bold;
    font-size: 1em;
    min-width: 100pt;
}

.status-chooser-combo {
    border: 1px solid transparent;
}

.status-chooser-combo.popup-combo-menu {
    background-color: rgba(21,21,21,0.72);
    background-color: rgba(48,53,54,0.85);
    padding: .4em 0em;
    border-radius: 5px;
    border: 1px solid #3c3c3c;
    color: #fff;
    font-size: 10pt;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}

.status-chooser-status-item,
.status-chooser-combo .popup-combobox-item {
    spacing: .4em;
}

.system-status-icon {
    icon-size: 1.14em;
}

/* Overview */

#overview {
    spacing: 12px;
}

.workspace-controls {
    visible-width: 32px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
    border: 1px solid rgba(22,22,22,0.2);
    border-right: 0px;
    border-radius: 3px 0 0 3px;
    background-color: rgba(48,53,54,0.85);
    padding: 9px;
}

.workspace-thumbnails-background:rtl {
    border-right: 1px;
    border-left: 0px;
    border-radius: 0 3px 3px 0;
}

.workspace-thumbnails {
    spacing: 9px;
}

.workspace-thumbnail-indicator {
    border: 3px solid #5A92BD;
    box-shadow: inset 0 0 1px 1px rgba(55,55,55,0.7);
}

.window-caption {
    color: #fff;
    spacing: 25px;
    background-color: rgba(48,53,54,0.85);
    border: 1px solid rgba(22,22,22,0.2);
    box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.4);
    border-radius: 9px;
    font-size: 10pt;
    padding: 3px 9px;
    -shell-caption-spacing: 6px;
}

.window-close {
    background-image: url("close-window.png");
    height: 32px;
    width: 32px;
    -st-background-image-shadow: -2px 2px 6px rgba(0,0,0,0.5);
    -shell-close-overlap: 21px;
}

.window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.72);
}

/* Dash */

#dash {
    color: #ccc;
    font-size: 10pt;
    padding: 6px 0px;
    background-color: rgba(48,53,54,0.85);
    border: 1px solid rgba(22,22,22,0.2);
    border-left: 0px;
    border-radius: 0px 3px 3px 0px;
}

#dash:rtl {
    border-left: 1px;
    border-right: 0px;
    border-radius: 3px 0px 0px 3px;
}

#dash:empty {
    height: 100px;
    width: 60px;
}

.dash-placeholder {
    background-image: url("dash-placeholder.svg");
}

.placeholder {
    background-image: url("dash-placeholder.svg");
    background-size: contain;
    height: 24px;
}

#viewSelector {
    spacing: 1em;
    font-size: 10pt;
}

#viewSelectorTabBar {
    padding: 1em;
}

#searchArea {
    padding: 0 24px;
}

#searchEntry {
    padding: 4px 12px;
    border-radius: 5px;
    color: #999;
    background-color: #dadada;
    border: 1px solid rgba(88,88,88,0.8);
    selected-color: #000;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.3);
    transition-duration: 1px 0px 0px;
}

#searchEntry:hover {
    border: 1px solid #5A92BD;
    background-color: #fff;
    box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.3);
    transition-duration: 3px 0px 0px;
}

#searchEntry:focus {
    color: rgb(34, 34, 34);
    font-weight: bold;
    transition-duration: 0px;
}

.search-entry-icon {
    icon-size: 1em;
    color: #333;
}

.view-tab-title {
    /* background: transparent; */
    background-gradient-direction: vertical; 
    background-gradient-start: #565656;
    background-gradient-end: #484848;
    color: #ccc;
    font-weight: bold;
    padding: 2px 12px;
    height: 24px;
    transition-duration: 1px 0px 0px;
}

.view-tab-title:hover {
    color: #fff;
}

.view-tab-title:selected {
    color: #fff;
    background-gradient-direction: vertical; 
    background-gradient-start: #466c89;
    background-gradient-end: #4c83ae;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.3);
    border-radius: 2px;
}

#searchResults {
    padding: 20px 10px 10px 10px;
    spacing: 18px;
}

#searchResultsContent {
    padding-right: 20px;
    spacing: 36px;
}

#searchResultsContent:rtl {
    padding-right: 0px;
    padding-left: 20px;
}

.search-statustext,
.search-section-header {
    padding: 4px 12px;
    spacing: 4px;
    color: #fff;
    font-size: .9em;
}

.search-section-results {
    color: #ccc;
    padding: 6px;
}

.search-section-list-results {
    spacing: 4px;
}

.results-container {
    spacing: 4px;
}

.search-providers-box {
    spacing: 12px;
}

/* Text labels are an odd number of pixels tall. The uneven top and bottom
 * padding compensates for this and ensures that the label is vertically
 * centered */
.dash-search-button {
    color: #444;
    background-gradient-direction: vertical; 
    background-gradient-start: #dadada;
    background-gradient-end: #ccc;
    border: 1px solid rgba(150,150,150,0.8);
    box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.5);
    border-radius: 5px;
    width: 300px;
    font-weight: bold;
    height: 28px;
}

.dash-search-button-label {
    color: #444;
    font-size: 9pt;
    font-weight: bold;
}

/* Apps */

.icon-grid {
    /* spacing: 48px;
    -shell-grid-item-size: 118px;
	-shell-grid-vertical-item-size: 118px;*/

    padding: 30px 30px 30px 30px;
    spacing: 26px;
    -shell-grid-horizontal-item-size: 118px;
    -shell-grid-vertical-item-size: 118px;
}

.contact-grid {
    spacing: 48px;
    -shell-grid-item-size: 284px; /* 2 * -shell-grid-item-size + spacing */
}

.icon-grid .overview-icon {
    icon-size: 80px;
}

.all-app {
    padding: 21px;
    spacing: 21px;
}

.all-app:rtl {
    padding: 21px;
}

.app-filter {
    color: rgba(242,242,242,0.8);
    font-size: 10pt;
    font-weight: bold;
    width: 150px;
    height: 2.85em;	
	padding-left: 8px;
    transition-duration: 1px 0px 0px;
}

.app-filter:hover {
    color: #fff;
}

.app-filter:selected {
    background-gradient-direction: vertical; 
    background-gradient-start: #5A92BD;
    background-gradient-end: #487192;
	border-radius: 3px;
    color: #fff;
}

.dash-item-container > .app-well-app {
    padding: 4px 8px;
}

.remove-favorite-icon {
    color: #ccc;
    transition-duration: 1px 0px 0px;
}

.remove-favorite-icon:hover {
    color: #fff;
    icon-shadow: #000 0 2px 2px;
}

.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 3px;
    font-size: 10pt;
    color: #fff;
    text-align: center;
    transition-duration: 1px 0px 0px;
}

.contact {
    width: 230px; /* Same width as two normal results + spacing */
    height: 96px; /* Aspect ratio = 1.75. Normal US business card ratio */
    border-radius: 5px;
    padding: 10px;
    border: 1px rgba(0,0,0,0);
    transition-duration: 3px 0px 0px;
}

.contact-content {
    border-radius: 2px;
    padding: 8px;
    width: 232px;
    height: 84px;
    background-color: #fff;
    color: #000;
    text-align: center;
}

.contact-icon {
    border-radius: 5px;
}

.contact-details {
    padding: 6px 8px 11px 8px;
}

.contact-details-alias {
    font-size: 16px;
    padding-bottom: 11px;
}

.contact-details-status {
    font-size: 11pt;
}

.contact-details-status-icon {
    padding-right: 2px;
}

.contact:hover, .contact:selected:hover {
    background-color: #5A92BD;
}

.contact:selected {
    background-color: rgba(22,22,22,0.22);
}
.app-well-app.running > .overview-icon {
    background-gradient-direction: vertical; 
    background-gradient-start: rgba(41,45,46,0.85);
    background-gradient-end: rgba(42,46,46,0.85);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    color: #fcfcfc;
}

.app-well-app:selected > .overview-icon,
.search-result-content:selected > .overview-icon {
    background-gradient-start: #f2f4f6;
    background-gradient-end: #d8dee3;
    border: 1px solid rgba(150,150,150,0.9);
    box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.6);
    color: #ccc;
}

.app-well-app:hover > .overview-icon,
.remove-favorite:hover > .overview-icon,
.search-result-content:hover > .overview-icon {
    background-gradient-direction: vertical; 
    background-gradient-start: #5A92BD;
    background-gradient-end: #487192;
    border: 1px solid #436487;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.3);
    color: #ccc;
}

.contact:focus,
.app-well-app:focus > .overview-icon,
.search-result-content:focus > .overview-icon {
    border: 1px solid #ccc;
}

.app-well-menu {
    font-size: 10pt;
}

/* LookingGlass */

#LookingGlassDialog
{
    background-color: rgba(48,53,54,0.85);
    spacing: 4px;
    padding: 4px;
    border: 2px solid grey;
    border-radius: 5px;

    color: #8f6;
}

#LookingGlassDialog > #Toolbar
{
    border: 1px solid grey;
    border-radius: 5px;
}

#LookingGlassDialog .labels {
    spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
    padding: 2px;
    transition-duration: 1px 0px 0px;
}

#LookingGlassDialog .notebook-tab:hover {
    color: #0f0;
}

#LookingGlassDialog .notebook-tab:selected {
    border: 1px solid #8f6;
    border-radius: 5px;
    padding: 5px;
}

#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}

.lg-dialog StLabel
{
    color: #8f6;
}

.lg-dialog StEntry
{
    color: #8f6;
    selection-background-color: #8f6;
    selected-color: #000;
}

.lg-obj-inspector-title
{
    spacing: 4px;
}

.lg-obj-inspector-button
{
    border: 1px solid #8f6;
    padding: 4px;
    border-radius: 5px;
    transition-duration: 1px 0px 0px;
}

.lg-obj-inspector-button:hover
{
    border: 1px solid #0f0;
}

.lg-dialog .shell-link
{
    color: #8f6;
}

.lg-dialog .shell-link:hover
{
    color: #0f0;
}

#LookingGlassDialog StBoxLayout#EvalBox
{
    padding: 4px;
    spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea
{
    spacing: 4px;
}

#lookingGlassExtensions {
    padding: 4px;
}

.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 4px;
}

.lg-extension-name {
    font-weight: bold;
}

.lg-extension-actions {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid grey;
    border-radius: 5px;
    padding: 6px;
    color: #8f6;
}

/* Calendar popup */

#calendarEventsArea {
    /* this is the width of the second column of the popup */
    min-width: 400px;
}

.calendar-vertical-separator {
    background-color: rgba(20,20,20,0.2);
    border-radius: 1px;
    border: 1px solid rgba(255,255,255,0.1);
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    box-shadow: inset0 1px 2px rgba(0,0,0,0.2);
    -stipple-width: 1px;
    -stipple-color: #666;
    width: 0.1em;
}

#calendarPopup {
    border-radius: 5px;
    background: rgba(0,0,0,0.9);
    border: 1px solid rgba(128,128,128,0.45);
    color: #fff;
}

#calendarPopup .calendar {
    padding: 10px;
}

.calendar {
    padding: .4em 1.75em;
    spacing-rows: 0px;
    spacing-columns: 0px;
}

.calendar-month-label {
    color: #fff;
    font-size: 8.5pt;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: bold;
}

.calendar-change-month-back {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-left.svg");
    transition-duration: 1px 0px 0px;
}

.calendar-change-month-back:rtl {
    background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-back:hover {
    background-color: #5A92BD;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
    border-radius: 2px;
}

.calendar-change-month-back:active {
    background-color: #555061
    box-shadow: inset0 2px 3px rgba(0,0,0,0.5);
}

.calendar-change-month-forward {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-right.svg");
    transition-duration: 1px 0px 0px;
}

.calendar-change-month-forward:rtl {
    background-image: url("calendar-arrow-left.svg");
}

.calendar-change-month-forward:hover {
    background-color: #5A92BD;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
    border-radius: 2px;
}
.calendar-change-month-forward:active {
    background-color: #555061
    box-shadow: inset0 2px 3px rgba(0,0,0,0.5);
}

.datemenu-date-label {
    padding: .4em 1.75em;
    font-size: 10pt;
    color: #ccc;
    font-weight: bold;
}

.calendar-day-base {
    background: rgba(0,0,0,0.2);
    font-size: 7.5pt;
    text-align: center;
    width: 2.4em;
    height: 2.4em;
}

.calendar-day-base:hover {
    background-gradient-direction: vertical; 
    background-gradient-start: #5A92BD;
    background-gradient-end: #487192;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.1);
}

.calendar-day-base:active {
    background-gradient-direction: vertical; 
    background-gradient-start: #5A92BD;
    background-gradient-end: #487192;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.2);
    color: #fff;
}

.calendar-day-heading {
    color: #fff;
    font-weight: bold;
    padding-top: 1em;
}

.calendar-week-number {
    color: #fff;
    font-weight: bold;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
    border: 1px solid #333;
    color: #fff;
    border-top-width: 0px;
    border-left-width: 0px;
}
.calendar-day-top {
    border-top-width: 1px;
}
.calendar-day-left {
    border-left-width: 1px;
}

.calendar-work-day {
    background-gradient-direction: vertical; 
    background-gradient-start: rgba(41,45,46,0.85);
    background-gradient-end: rgba(42,46,46,0.85);
}

.calendar-nonwork-day {
    background-gradient-direction: vertical; 
    background-gradient-start: rgba(41,45,46,0.85);
    background-gradient-end: rgba(42,46,46,0.85);
}

.calendar-today {
    background-gradient-direction: vertical; 
    background-gradient-start: #5A92BD;
    background-gradient-end: #487192;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.6);
    color: #fff;
    font-weight: bold;
}

.calendar-today:hover {
    background-color: #5A92BD;
}

.calendar-other-month-day {
    color: #666;
}

.calendar-day-with-events {
    font-weight: bold;
    color: #ccc;
}

.events-header-vbox {
    spacing: 6pt;
    padding-right: 1.75em;
}

.events-header-vbox:rtl {
    padding-right: 0em;
    padding-left: 1.75em;
}

.events-header-hbox {
    padding: 0.3em;
}

.events-day-header {
    font-size: 10pt;
    font-weight: bold;
    color: rgba(153, 153, 153, 1.0);
    padding-left: 1.9em;
    padding-top: 0.9em;
}

.events-day-header:rtl {
    padding-left: 0em;
    padding-right: 0.3em;
}

.events-day-dayname {
    font-size: 10pt;
    color: rgba(153, 153, 153, 1.0);
    text-align: left;
}

.events-day-dayname:rtl {
    text-align: right;
}

.events-day-time {
    font-size: 10pt;
    color: #fff;
    text-align: right;
}

.events-day-time:rtl {
    text-align: left;
}

.events-day-task {
    font-size: 10pt;
    color: rgba(153, 153, 153, 1.0);
}

.events-day-name-box {
    min-width: 15pt;
}

.events-time-box {
    min-width: 53pt;
    padding-right: 6pt;
}

.events-time-box:rtl {
    padding-right: 0px;
    padding-left: 6pt;
}

.events-event-box {
}

.url-highlighter {
    link-color: #ccccff;
}

/* Message Tray */
#message-tray {
    background-gradient-direction: vertical; 
    background-gradient-start: rgba(52,56,57,0);
    background-gradient-end: rgba(37,42,43,0.85);
    box-shadow:0 0 3px 4px rgba(0,0,0,0.2);
    border: 1px solid rgba(33,33,33,0);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    height: 36px;
    padding-bottom: 1px;
}

#notification {
    font-size: 10pt;
    background-color: rgba(48,53,54,0.85);
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
    color: #fff;
    padding: 8px 8px 4px 8px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    width: 34em;
}

#notification.multi-line-notification {
    padding-bottom: 8px;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
     taken into account during allocation, so its height ends up being limited by the height
     of the content in the other rows. To avoid showing a stretched image, we set the minimum
     height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
    min-height: 154px;
}

.summary-boxpointer {
    -arrow-border-radius: 5px;
    -arrow-background-color: rgba(48,53,54,0.85);
    -arrow-border-width: 1px;
    -arrow-border-color: rgba(0,0,0,0.33);
    -arrow-base: 21px;
    -arrow-rise: 9px;
    color: #fff;
}

.summary-boxpointer #notification {
    border-radius: 5px;
    background: rgba(0,0,0,0) !important;
    padding-bottom: 12px;
}

.summary-boxpointer #summary-right-click-menu {
    font-size: 10pt;
    padding-top: 12px;
    padding-bottom: 12px;
}

#summary-notification-stack-scrollview {
    max-height: 18em;
    padding-top: 6px;
    padding-bottom: 6px;
}

#summary-notification-stack-scrollview > .top-shadow, #summary-notification-stack-scrollview > .bottom-shadow {
    height: 1em;
}

#summary-notification-stack-scrollview:ltr {
    padding-right: 8px;
}

#summary-notification-stack-scrollview:rtl {
    padding-left: 8px;
}

#notification-scrollview {
    max-height: 10em;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
    height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
    padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
    padding-right: 6px;
}

#notification-body {
    spacing: 5px;
}

#notification-actions {
    spacing: 10px;
}

.notification-button {
    border-radius: 5px;
    font-size: 11pt;
    padding: 4px 42px 5px;
}

.notification-button:focus {
    padding: 3px 41px 4px;
}

.notification-icon-button {
    border-radius: 5px;
    padding: 5px;
}

.notification-icon-button:focus {
    padding: 4px;
}

.notification-icon-button > StIcon {
    icon-size: 36px;
}

.hotplug-transient-box {
    spacing: 6px;
    padding: 2px 72px 2px 12px;
}

.hotplug-notification-item {
    padding: 2px 10px;
    border-radius: 18px;
    font-size: 10pt;
}

.hotplug-notification-item:focus {
    padding: 1px 71px 1px 11px;
}

.hotplug-notification-item-icon {
    icon-size: 24px;
    padding: 2px 5px;
}

.hotplug-resident-box {
    spacing: 8px;
}

.hotplug-resident-mount {
    spacing: 8px;
    border-radius: 5px;
    color: #ccc;
    transition-duration: 1px 0px 0px;
    border: 1px solid transparent;
}

.hotplug-resident-mount:hover {
    background-gradient-direction: vertical; 
    background-gradient-start: #5A92BD;
    background-gradient-end: #487192;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.3);
    border: 1px solid #436487;
}

.hotplug-resident-mount-label {
    color: inherit;
    padding-left: 6px;
}

.hotplug-resident-mount-icon {
    icon-size: 24px;
    padding-left: 6px;
}

.hotplug-resident-eject-icon {
    icon-size: 16px;
}

.hotplug-resident-eject-button {
    padding: 7px;
    border-radius: 5px;
    color: #ccc;
}

.chat-log-message {
    color: #888888;
}

.chat-group-sent, .chat-group-meta {
    padding: 8px 0;
}

.chat-sent {
    padding-left: 4px;
    border-radius: 5px;
}

.chat-received:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.chat-sent {
    padding-left: 18pt;
    border-radius: 5px;
    color: #7E7E7E;
}

.chat-sent:rtl {
    padding-left: 0px;
    padding-right: 18pt;
}

.chat-meta-message {
    padding-left: 4px;
    border-radius: 5px;
    font-size: 10pt;
    color: #bbbbbb;
}

.chat-meta-message:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.subscription-message {
    font-style: italic;
}

#notification StEntry {
    padding: 4px;
    border-radius: 5px;
    color: #ccc;
    selected-color: #000;
    border: 1px solid rgba(245,245,245,0.2);
    background-gradient-direction: vertical;
    background-gradient-start: rgb(200,200,200);
    background-gradient-end: #fff;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.6);
    caret-color: #a8a8a8;
    caret-size: 1px;
}

#notification StEntry:focus {
    border: 1px solid #808080;
    color: #333333;
    background-gradient-direction: vertical;
    background-gradient-start: rgb(200,200,200);
    background-gradient-end: #fff;
    caret-color: #545454;
    selection-background-color: #808080;
}

/* The spacing and padding on the summary is tricky; we want to keep
 * the icons from touching each other or the edges of the screen, but
 * we also want them to be "Fitts"-y with respect to the edges, so the
 * summary area's bottom and right padding must actually be part of
 * the icons. However, we can't put *all* of the padding into the
 * icons, because then the summary would be 0x0 when there were no
 * icons in it, and so you wouldn't be able to hover over it to
 * activate it.
 *
 * Also, the spacing between a summary-source's icon and title is
 * actually specified as padding-left in source-title, because we
 * want the spacing to collapse along with the title.
 */
#summary-mode {
    padding: 2px 0px 0px 4px;
    height: 36px;
}

#summary-mode:rtl {
    padding: 2px 4px 0px 0px;
}

.summary-source-button {
    color: #fff;
    text-shadow: #000 0px 2px 2px;
}

.summary-source-button:ltr {
    padding-right: 12px;
}

.summary-source-button:selected .summary-source {
    color: #ccc;
}

.summary-source-button:expanded:selected .summary-source {
}

.summary-source-button:expanded:selected {
    color: #ccc;
}

.summary-source-button:rtl {
    padding-left: 12px;
}

.summary-source-button:last-child:ltr {
    padding-right: 12px;
}

.summary-source-button:last-child:rtl {
    padding-left: 12px;
}

.summary-source {
    padding-right: 4px;
    padding-left: 4px;
}

.summary-source-counter {
    color: #fff;
    background-color: #3465A4;
    text-shadow: #000 1px 1px 0;
    font-size: 10pt;
    border-radius: 5px;
    min-height: 1em;
    min-width: 1em;
}

.source-title {
    font-size: 10pt;
    font-weight: bold;
    padding-left: 4px;
}

.source-title:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

/* App Switcher */
#altTabPopup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
    background-color: rgba(48,53,54,0.85);
    border: 1px solid rgba(33,33,33,0.85);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.4);
    border-radius: 5px;
    padding: 20px;
    font-size: 10pt;
    color: #fff;
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 1.0);
    background-gradient-end: rgba(51, 51, 51, 0);
    border-radius: 24px;
    border-radius-topright: 0px;
    border-radius-bottomright: 0px;
    width: 60px;
}

.thumbnail-scroll-gradient-right {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 0);
    background-gradient-end: rgba(51, 51, 51, 1.0);
    border-radius: 24px;
    border-radius-topleft: 0px;
    border-radius-bottomleft: 0px;
    width: 60px;
}

.switcher-list .item-box {
    padding: 8px;
    border-radius: 5px;
}

.switcher-list .item-box:outlined {
    background-color: rgba(255,255,255,0.35);
    border: 2px solid #436487;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
}

.switcher-list .item-box:selected {
    background-gradient-direction: vertical; 
    background-gradient-start: #5A92BD;
    background-gradient-end: #487192;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
}

.switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width:    256px;
}

.switcher-list .separator {
    width: 1px;
    background: rgba(0,0,0,0.2);
}

.ripple-box {
    width: 52px;
    height: 52px;
    background-image: url("corner-ripple-ltr.png");
}

.ripple-box:rtl {
    background-image: url("corner-ripple-rtl.png");
}

.switcher-arrow {
    border-color: rgba(0,0,0,0);
    color: #888;
}

.switcher-arrow:highlighted {
    border-color: rgba(0,0,0,0);
    color: #fff;
}

/* Workspace Switcher */
.workspace-switcher-group {
    padding: 12px;
}

.workspace-switcher-container {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(52,56,57,0.85);
    background-gradient-end: rgba(37,42,43,0.85);
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.4);
    border-radius: 5px;
    padding: 20px;
}

.workspace-switcher {
    background: transparent;
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    spacing: 8px;
}

.ws-switcher-active-up {
    height: 100px;
    border: 0px;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
}

.ws-switcher-active-down {
    height: 100px;
    border: 0px;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
}

.ws-switcher-box {
    height: 96px;
    border: 1px solid rgba(22,22,22,0.2);
    background: transparent;
    border-radius: 5px;
}

/* Modal Dialogs */
.modal-dialog {
    font-size: 12pt;
    border-radius: 5px;
    background-color: rgba(48,53,54,0.85);
    border: 1px solid rgba(22,22,22,0.2);
    color: #ccc;
    padding-right: 42px;
    padding-left: 42px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.modal-dialog-button-box {
    spacing: 21px;
}

.modal-dialog-button {
    border-radius: 5px;
    font-size: 11pt;
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px 32px 5px;
}

.modal-dialog-button:disabled {
    color: rgb(60,60,60);
}

.modal-dialog-button:focus {
    padding: 3px 31px 4px;
}

/* Run Dialog */
.run-dialog-label {
    font-size: 10pt;
    color: #fff;
}

.run-dialog-error-label {
    font-size: 10pt;
    color: #fff;
}

.run-dialog-error-box {
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-entry {
    font-size: 10pt;
    font-weight: bold;
    width: 23em;
    color: #fff;
    selection-background-color: #fff;
    selected-color: #000;
}

.run-dialog {
    background-color: rgba(48,53,54,0.85);
    border-radius: 5px;
    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.lightbox {
    background-color: rgba(0,0,0,0.4);
}

/* End Session Dialog */
.end-session-dialog {
    spacing: 42px;
}

.end-session-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: #666;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 30px;
}

.end-session-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.end-session-dialog-description {
    font-size: 10pt;
    color: #fff;
    padding-left: 17px;
    width: 28em;
}

.end-session-dialog-description:rtl {
    padding-right: 17px;
}

.end-session-dialog-logout-icon {
    border: 1px solid rgba(22,22,22,0.2);
    border-radius: 5px;
    width: 32px;
    height: 32px;
}

.end-session-dialog-shutdown-icon {
    width: 32px;
    height: 32px;
}

.end-session-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 42px;
    padding-left: 49px;
    padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.end-session-dialog-app-list-item {
    color: #ccc;
    transition-duration: 1px 0px 0px;
}

.end-session-dialog-app-list-item:hover {
    color: #fff;
}

.end-session-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.end-session-dialog-app-list-item-name {
    font-size: 10pt;
}

.end-session-dialog-app-list-item-description {
    font-size: 8pt;
    color: #333;
}

/* ShellMountOperation Dialogs */
.shell-mount-operation-icon {
    icon-size: 48px;
}

.mount-password-reask {
    color: red;
}

.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: #666;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
    font-size: 10pt;
    color: #fff;
    padding-left: 17px;
    width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}

.show-processes-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.show-processes-dialog-app-list-item {
    color: #ccc;
}

.show-processes-dialog-app-list-item:hover {
    color: #fff;
}

.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
    font-size: 10pt;
}

/* PolicyKit Authentication Dialog */
.polkit-dialog {
    /* this is the width of the entire modal popup */
    width: 500px;
}

.polkit-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.polkit-dialog-message-layout {
    spacing: 16px;
}

.polkit-dialog-headline {
    font-size: 12pt;
    font-weight: bold;
    color: #666;
}

.polkit-dialog-description {
    font-size: 10pt;
    color: #fff;
}

.polkit-dialog-user-layout {
    padding-left: 10px;
    spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
    padding-left: 0px;
    padding-right: 10px;
}

.polkit-dialog-user-root-label {
    color: #ff0000;
}

.polkit-dialog-password-label:ltr {
    padding-right: 0.5em;
}

.polkit-dialog-password-label:rtl {
    padding-left: 0.5em;
}

.polkit-dialog-password-entry {
    background-gradient-start: rgb(236,236,236);
    background-gradient-end: #fff;
    background-gradient-direction: vertical;
    color: #000;
    border-radius: 5px;
    border: 1px solid rgba(22,22,22,0.2);
}

.polkit-dialog-password-entry:focus {
    border: 1px solid rgba(21,21,21,0.72);
}

.polkit-dialog-error-label {
    font-size: 10pt;
    color: #ff0;
    padding-bottom: 8px;
}

.polkit-dialog-info-label {
    font-size: 10pt;
    padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.polkit-dialog-null-label {
    font-size: 10pt;
    color: rgba(0,0,0,0);
    padding-bottom: 8px;
}

.network-dialog-show-password-checkbox {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10pt;
    color: #fff;
    spacing: 10px;
}

.network-dialog-secret-table {
    spacing-rows: 15px;
}

/* Magnifier */

.magnifier-zoom-region {
    border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
    border-width: 0px;
}

/* On-screen Keyboard */

#keyboard {
    background-color: rgba(48,53,54,0.85);
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 30px;
    min-width: 30px;
    background-gradient-direction: vertical; 
    background-gradient-start: rgba(41,45,46,0.85);
    background-gradient-end: rgba(42,46,46,0.85);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    font-size: 14pt;
    font-weight: bold;
    color: #fcfcfc;
    transition-duration: 1px 0px 0px;
}

.keyboard-key:grayed {
    color: #666;
    border: 1px solid rgba(22,22,22,0.2);
}

.keyboard-key:checked,
.keyboard-key:hover,
.keyboard-key:active{
    background-gradient-direction: vertical; 
    background-gradient-start: #5A92BD;
    background-gradient-end: #487192;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.3);
    border: 1px solid #436487;
}

.keyboard-subkeys {
    -arrow-border-radius: 5px;
    -arrow-background-color: rgba(48,53,54,0.85);
    -arrow-border-width: 1px;
    -arrow-border-color: rgba(0,0,0,0.33);
    -arrow-base: 21px;
    -arrow-rise: 9px;
    -boxpointer-gap: 6px;
    color: #fff;
    padding: 5px;
}

/* Bottom Panel Extension */

#bottomPanel {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(52,56,57,0.85);
    background-gradient-end: rgba(37,42,43,0.85);
    box-shadow: 0 0 2px 3px rgba(0,0,0,0.65);
    border: 1px solid rgba(33,33,33,0.8);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #fff;
    font-size: 10pt; 
    font-weight: bold;
    height: 1.9em;
}

/* Window List Extension */

.window-list-item-box,
.window-list-item-box-bottom {
    color: #fff;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(41,45,46,0.85);
    background-gradient-end: rgba(42,46,46,0.85);
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.3);
    border-radius: 0px;
    transition-duration: 3px 0px 0px;
}

.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus,
.window-list-item-box-bottom:active,
.window-list-item-box-bottom:checked,
.window-list-item-box-bottom:focus {
    color: #fff;
    background-gradient-direction: vertical; 
    background-gradient-start: #5A92BD;
    background-gradient-end: #487192;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.3);
    border-radius: 0px;
}

.window-list-item-box:hover,
.window-list-item-box-bottom:hover {
    color: #fff;
    background-gradient-direction: vertical; 
    background-gradient-start: #5A92BD;
    background-gradient-end: #487192;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.3);
    border-radius: 0px;
}

/* Mint Menu Extension */

.applications-menu-favorites-button:hover, .application-button:hover,
.application-button-selected, .category-button-selected {
    color: #fff;
    background-gradient-direction: vertical;
	/* Mod GrayDay */ 
    background-gradient-start: #5A92BD;
    background-gradient-end: #487192;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
}

/* Dock Extension */
#dock {
    /* background-color: rgba(18,24,23,0.75);
    border: 2px solid rgba(0,0,0,0.7); */

    background-color: rgba(38,44,43,0.80);
    border: 1px solid rgba(23,23,23,0.75);
    border-radius: 8px;
}

.dock-app {
    padding: 4px;
    width: 70px;
    height: 70px;        
    border-radius: 4px;
    transition-duration: 1px 0px 0px;
}

.dock-app.running {
    padding: 3px;
    border: 1px solid #181818;
    background-gradient-direction: vertical;
    background-gradient-start: #3d3d3d;
    background-gradient-end: #181818;
}

.dock-app.selected {
    padding: 3px;
    border: 1px solid #666666;
}

.dock-app.focused {
    padding: 3px;
    border: 1px solid #5f5f5f;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(61,61,61,0.8);
    background-gradient-end: rgba(24,24,24,0.2);
}

.dock-app:hover {
    padding: 3px;
    border: 1px solid #666666;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(61,61,61,0.8);
    background-gradient-end: rgba(24,24,24,0.2);
    transition-duration: 1px 0px 0px;
}

.dock-app:active {
    padding: 3px;
    background-color: #1e1e1e;
    border: 1px solid #5f5f5f;
}

.dock-menu {
    font-size: 12px
}

